<div class="grid-item"
	data-id="{{id}}"
	data-artist="{{artist}}"
	data-title="{{title}}"
	data-lyrics="{{asset}}"
	data-gif="{{gif}}"
	style="background-image:url(stills/{{jpg}});">
	<button class="button">Begin Fun Sing</button>
</div>